*.iml
*.icloud
*.DS_Store
*.aab
*.apk
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/shelf
/.idea/deploymentTargetDropDown.xml
/build
/captures
.externalNativeBuild
.cxx
/.idea/other.xml